// lib/features/{{entity_name}}/domain/params/create_{{entity_name}}_params.dart
import 'package:freezed_annotation/freezed_annotation.dart';

part 'create_{{entity_name}}_params.freezed.dart';

@freezed
class Create{{EntityName}}Params with _$Create{{EntityName}}Params {
  const factory Create{{EntityName}}Params({
    // TODO: Add entity-specific fields (without id, createdAt, updatedAt)
  }) = _Create{{EntityName}}Params;
}
