.env
**/*.old

anydesk/.anydesk/*
atac/.config/atac/atac.log
autostart/.config/autostart/chrome-*.desktop
calcure/.config/calcure/*
calcurse/.calcurse/*
chawan/.config/chawan/history.uri
clipse/.config/clipse/clipboard_history.json
clipse/.config/clipse/clipse.log
clipse/.config/clipse/tmp_files/*
cmus/.config/cmus/cache
cmus/.config/cmus/queue.pl
cmus/.config/cmus/resume
docker/.docker/.token_seed
docker/.docker/.token_seed*
docker/.docker/buildx
gemini/.gemini/*
gtk/.config/gtk-4.0/gtk-dark.css
gtk/.config/gtk-4.0/gtk.css
koreader/.config/koreader/**/*.sqlite*
koreader/.config/koreader/cache
koreader/.config/koreader/help
koreader/.config/koreader/history.lua
koreader/.config/koreader/settings.reader.lua*
koreader/.config/koreader/settings/battery_stats.lua
koreader/.config/koreader/settings/cloudstorage.lua
# libreoffice/.config/libreoffice/*
libreoffice/.config/libreoffice/4/.lock
libreoffice/.config/libreoffice/4/user/GraphicsRenderTests.log
libreoffice/.config/libreoffice/4/user/autocorr
libreoffice/.config/libreoffice/4/user/autotext
libreoffice/.config/libreoffice/4/user/backup
libreoffice/.config/libreoffice/4/user/database
libreoffice/.config/libreoffice/4/user/extensions
libreoffice/.config/libreoffice/4/user/gallery
libreoffice/.config/libreoffice/4/user/pack
libreoffice/.config/libreoffice/4/user/registrymodifications.xcu
libreoffice/.config/libreoffice/4/user/store
libreoffice/.config/libreoffice/4/user/uno_packages
lnav/.config/lnav/log_metadata.db
lnav/.config/lnav/view-info-*
ls-fusion/lsFusion/*
mpv/.config/mpv/shaders/cache
obs/.config/obs-studio/logs
obs/.config/obs-studio/profiler_data
obs/.config/obs-studio/safe_mode
opencode/.config/opencode/.gitignore
opencode/.config/opencode/bun.lock
opencode/.config/opencode/node_modules
opencode/.config/opencode/opencode-notifier-state.json
opencode/.config/opencode/package.json
qalculate/.config/qalculate/qalc.history
rudesktop/.config/rudesktop/RuDesktop*_ThreadId*
rudesktop/.config/rudesktop/RuDesktop.toml
rudesktop/.config/rudesktop/RuDesktop2.toml
rudesktop/.config/rudesktop/RuDesktop_lan_peers.toml
rudesktop/.config/rudesktop/RuDesktop_local.toml
rudesktop/.config/rudesktop/RuDesktop_logcollect.toml
rudesktop/.config/rudesktop/peers
rustdesk/.config/rustdesk/RustDesk.toml
rustdesk/.config/rustdesk/RustDesk2.toml
rustdesk/.config/rustdesk/RustDesk_ab
rustdesk/.config/rustdesk/peers
rustdesk/.config/rustdesk/peers.toml
ssh/.ssh/*.pub
ssh/.ssh/authorized_keys
ssh/.ssh/environment
ssh/.ssh/id_*
ssh/.ssh/known_hosts
termux/.termux/shell
throne/.config/Throne/config/cache.db
throne/.config/Throne/config/profiles
thunar/.config/Thunar/accels.scm
vim/.config/nvim/*/
ya-disk/.config/yandex-disk/crash.txt
ya-disk/.config/yandex-disk/iid
ya-disk/.config/yandex-disk/passwd

!anydesk/.anydesk/user.conf
!calcure/.config/calcure/config.ini
!calcurse/.calcurse/conf
!calcurse/.calcurse/keys
!gemini/.gemini/settings.json
# !libreoffice/.config/libreoffice/4/user/basic/*/**
# !libreoffice/.config/libreoffice/4/user/config/*/**
# !libreoffice/.config/libreoffice/4/user/wordbook/*/**
!ls-fusion/lsFusion/README.md
!ls-fusion/lsFusion/compose.yaml
