// test/features/{{entity_name}}/domain/usecases/get_{{entity_name}}s_test.dart
import 'package:flutter_test/flutter_test.dart';
import 'package:fpdart/fpdart.dart';
import 'package:mocktail/mocktail.dart';
import 'package:your_app/features/{{entity_name}}/domain/usecases/get_{{entity_name}}s.dart';
import '../../../../helpers/mock_helpers.dart';
import '../../../../helpers/test_data.dart';

void main() {
  late Get{{EntityName}}s usecase;
  late Mock{{EntityName}}Repository mockRepository;

  setUp(() {
    mockRepository = Mock{{EntityName}}Repository();
    usecase = Get{{EntityName}}s(mockRepository);
  });

  setUpAll(() {
    registerFallbackValue(t{{EntityName}}FilterParams);
  });

  test('should get {{entityName}}s from repository', () async {
    when(() => mockRepository.filter(any()))
        .thenAnswer((_) async => Right(t{{EntityName}}PageData));

    final result = await usecase(t{{EntityName}}FilterParams);

    expect(result, Right(t{{EntityName}}PageData));
    verify(() => mockRepository.filter(t{{EntityName}}FilterParams)).called(1);
    verifyNoMoreInteractions(mockRepository);
  });
}
