[Desktop Entry]
Version=1.0
Type=Application
Name=v2rayN
GenericName=V2Ray Client
Comment=V2Ray/XRay Proxy Client with GUI
Exec=v2rayN %F
Icon=v2rayN
Terminal=false
Categories=Network;Proxy;Utility;
StartupWMClass=v2rayN
Keywords=proxy;vpn;v2ray;xray;clash;
SingleMainWindow=true
